

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
  -moz-transition:$e;
    transition:$e;
}

body {

  font-family: 'Playfair Display', serif;
  font-size: 15px;
  color: $black;
  font-weight: 400;
  font-style: normal;

}
a{
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color: $red;
      @include transition(.4s ease-in-out);
  }
}

.container-fluid{
  line-height:200px;
  font-size: 50px;
}
