@import "_config.scss";

header {
  position: relative;
  background:  #8c1aff;
  display: block;
  color: 'white';
  width: 100%;
  height: 80px;

  .logo {
      position: absolute;
      top: 50%;
      left: 100px;
      font-size: 30px;
      @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin:0;
    padding: 0;
  }

  nav{
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;

      &.last {
        margin: 0;
      }
      a{
        font-size: 15px;
        line-height: normal;
        color: $white;
      }
    }
  }
}
text {
  font-size: 50px;
  display: list-item;
}
